@media (max-width: 375px) {

  .accordion__background {

  }

  .accordion__box {
    padding: 20px;
  }

  .accordion__header {
    margin-bottom: 10px;
  }

  .accordion__title {
    font-size: 40px;
  }

  .accordion__itemTitle {
    font-size: 16px;
  }

  .accordion__itemText {
    font-size: 15px;
  }

}