@font-face {
  font-family: "WorkSans";
  src: url("/assets/fonts/static/WorkSans-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "WorkSans";
  src: url("/assets/fonts/static/WorkSans-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "WorkSans";
  src: url("/assets/fonts/static/WorkSans-Bold.ttf");
  font-weight: 700;
}
:root {
  --white: hsl(0, 0%, 100%);
  --lightPink: hsl(275, 100%, 97%);
  --grayishPurple: hsl(292, 16%, 49%);
  --darkPurple: hsl(292, 42%, 14%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: hsl(292, 42%, 14%);
  font-size: 16px;
}

img {
  object-fit: cover;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.accordion {
  font-family: WorkSans, sans-serif;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.accordion .container {
  flex-grow: 1;
  display: flex;
  width: 100%;
}

.accordion__body {
  background-color: var(--lightPink);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.accordion__background {
  position: absolute;
  inset: 0 0 auto 0;
  z-index: 0;
}
.accordion__background img {
  min-height: 200px;
}

.accordion__box {
  background-color: var(--white);
  position: relative;
  padding: 30px;
  margin: 0 20px;
  z-index: 1;
  max-width: 578px;
  width: 100%;
  border-radius: 20px;
}

.accordion__header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.accordion__headerIcon {
  margin-right: 25px;
  height: 35px;
  width: 35px;
  overflow: hidden;
}

.accordion__title {
  font-size: 50px;
}

.accordion__item {
  padding: 20px 0;
}
.accordion__item + .accordion__item {
  border-top: 1px solid hsl(292, 16%, 93%);
}
.accordion__item:last-child {
  padding-bottom: 0;
}

.accordion__itemHeader {
  display: flex;
  align-items: center;
}
.accordion__itemHeader + .accordion__itemText {
  margin-top: 20px;
}

.accordion__itemTitle {
  font-weight: 600;
  margin-right: 50px;
  font-size: 17px;
  transition: color 0.3s;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: none;
  font-family: inherit;
  flex-grow: 1;
  text-align: left;
}
.accordion__itemTitle:hover {
  color: #AD28EB;
}
.accordion__itemTitle:focus {
  color: hsl(292, 42%, 30%);
}

.accordion__itemIcon {
  background-color: transparent;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  border: none;
  outline: none;
  flex-shrink: 0;
}
.accordion__itemIcon:hover .accordion__itemIconImg:first-child svg, .accordion__itemIcon:focus .accordion__itemIconImg:first-child svg {
  fill: rgba(173, 40, 235, 0.8);
}
.accordion__itemIcon:hover .accordion__itemIconImg:last-child svg, .accordion__itemIcon:focus .accordion__itemIconImg:last-child svg {
  fill: rgba(48, 21, 52, 0.8);
}

.accordion__itemIconImg svg {
  transition: fill 0.3s;
}
.accordion__itemIconImg:first-child svg {
  fill: #AD28EB;
}
.accordion__itemIconImg:last-child svg {
  fill: #301534;
}

.accordion__itemText {
  color: var(--grayishPurple);
  font-weight: 400;
  line-height: 1.4;
}

.attribution {
  padding: 20px 0;
  background-color: var(--lightPink);
}

@media (max-width: 375px) {
  .accordion__box {
    padding: 20px;
  }
  .accordion__header {
    margin-bottom: 10px;
  }
  .accordion__title {
    font-size: 40px;
  }
  .accordion__itemTitle {
    font-size: 16px;
  }
  .accordion__itemText {
    font-size: 15px;
  }
}

/*# sourceMappingURL=index.css.map */
