block variables

doctype
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        link(rel="icon" type="image/png" sizes="32x32" href="./assets/images/favicon-32x32.png")
        link(rel="stylesheet" href="./assets/css/index.css")

        script(defer src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js")
        script(defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js")

        title Frontend Mentor | FAQ accordion

        style=".attribution { font-size: 11px; text-align: center; } .attribution a { color: hsl(228, 45%, 44%); }"

    body
        block content